.register-card-container {
    top: 20%;
    left: 40%;
    width: 15%;
    position: absolute;
   z-index: 1;
}

.register-form-container {
    width: 10%;
    height: 20%;
  }
  
  .register-form-container > * {
    width: 100%;
  }
  
  .register-form-right-align {
    text-align: right;
  }
  
  input.register-form-right-align::-webkit-outer-spin-button,
  input.register-form-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  h2.register-header {
    top:0;
    width: 100%;
  }

  input.register-form-right-align {
    -moz-appearance: textfield;
  }